*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:  #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10%;
}
.container{
    position: relative;
    right: 100px;
    bottom: 100px;

    
}
.free{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5em;
    font-weight: 700;
    font-style: normal;
    color:#1877f2;
}
hr{
    width:80%;
    
}
.wing{
    margin-left: 50px;
    margin-top: 30px;
}

.ya{
    width:50px;
    height:50px;
}
input{
    
        font-family: Helvetica, Arial, sans-serif;
        font-size: 17px;
        font-weight: 400;
        font-style: normal;
        color: #688bff;
        background: #ffffff;
        opacity: 1;
        box-shadow: rgb(231, 243, 255) 0px 0px 0px 2px;
        border-radius: 6px;
        border: 0.8px solid rgb(27, 116, 228);
        width: 330px;
        height: 48px;
        
        padding: 14px 16px;
        line-height: 16px;
        overflow: visible;
        display: inline-block;
    
        
      
        text-align: left;
        text-transform: none;
        text-shadow: none;
        letter-spacing: normal;
    
    
    
}
.cat{
    
        font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
        font-size: 24px;
        font-weight: 400;
        font-style: normal;
        
        
        opacity: 1;
        
        border-radius: 0px;
        
        width: 368px;
        height: 56px;
        
        padding: 0px 0px 20px;
        line-height: 28px;
        overflow: visible;
        display: inline-block;
        
        text-align: start;
        text-transform: none;
        text-shadow: none;
        letter-spacing: normal;
    
}
.chapter{
    
        font-family: Helvetica, Arial, sans-serif;
        font-size: 20px;
        font-weight: 700;
        font-style: normal;
        color: #ffffff;
        background: #1877f2;
        opacity: 1;
        box-shadow: none;
        border-radius: 6px;
        border: 0px none rgb(54, 88, 153);
        width: 332px;
        height: 48px;
        
        padding: 0px 16px;
        line-height: 48px;
        overflow: visible;
        display: inline-block;
        
        
        text-align: center;
        text-transform: none;
        text-shadow: none;
        letter-spacing: normal;
    
}

.rate{
    width:400px;
    height: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;

    
}
.grand{
    background-color: #42b72a;
    color: #ffffff;
    width:200px;
    height:50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:17px;
    font-weight: 700;
    font-style: normal;
    border-style: none;
    border-radius: 5px;
    
    
}



.suffering{
    
        font-family: Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        color: #1877f2;
        
        opacity: 1;
        
        border-radius: 0px;
        border: 0px none rgb(24, 119, 242);
        width: auto;
        height: auto;
        
        padding: 0px;
        line-height: 18.76px;
        overflow: visible;
        display: inline;
        
        text-align: center;
        text-transform: none;
        text-shadow: none;
        letter-spacing: normal;
        text-decoration: none;
    
    
}

.see{
    
        font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: 600;
        font-style: normal;
        color: #1c1e21;
        
        opacity: 1;
        
        border-radius: 0px;
        border: 0px none rgb(28, 30, 33);
        width: auto;
        height: auto;
        margin: 0px;
        padding: 0px;
        line-height: 18.76px;
        overflow: visible;
        display: inline;
        position: relative;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        text-align: center;
        text-transform: none;
        text-shadow: none;
        text-decoration: none;
    
}
.suffering:hover{
    text-decoration: underline;
    
}
input:hover{
    color:#42b72a;
}
.send{
    
        font-family: Helvetica, Arial, sans-serif;
        font-size: 12px;
        font-weight: 400;
        font-style: normal;
        
        background: #ffffff;
        opacity: 1;
        box-shadow: none;
        border-radius: 0px 0px 8px 8px;
        
        width: 432px;
        height: 453.55px;
        margin: 0px;
        padding: 16px;
        line-height: 16.08px;
        overflow: visible;
        display: block;
        position: relative;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        text-align: left;
        text-transform: none;
        text-shadow: none;
        letter-spacing: normal;
    
}

select{
    
    width: 30%;
	margin: 0;
	font-size: 100%;
	padding: 5px 10px 5px 10px;
	font-family: Segoe UI, Helvetica, sans-serif;
	border: 0;
	border: 1px solid #D0D0D0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;		
    
}
.man{
    
        font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
        font-size: 15px;
        font-weight: 400;
        font-style: normal;
        
        opacity: 1;
        box-shadow: none;
        border-radius: 0px;
        border: 0px none rgb(28, 30, 33);
        width: 128.688px;
        height: 36px;
        margin: 0px;
        padding: 0px 28px 0px 10px;
        line-height: 36px;
        overflow: visible;
        display: inline-block;
        position: static;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        text-align: left;
        text-transform: none;
        text-shadow: none;
        letter-spacing: normal;
    
}
.send{
    display: none;
}